/* Untuk layar besar (desktop) */
@media (min-width: 1024px) {
    #navMenu {
      display: flex !important;
    }
  
    #navMenuu {
      display: none !important;
    }
  }
  
  /* Untuk layar kecil (mobile) */
  @media (max-width: 1023px) {
    #navMenu {
      display: none !important;
    }
  
    #navMenuu {
      display: block !important;
    }
  }
  